@using WaiterApp.Models.Model

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Ürünler";
    ViewBag.Active = "products";

    List<mMenu> mMenu = ViewBag.mMenu ?? new List<mMenu>();
    List<mProduct> mProducts = ViewBag.mProducts ?? new List<mProduct>();
    List<mCategory> categories = ViewBag.categories ?? new List<mCategory>();

    string jsonMenu = Newtonsoft.Json.JsonConvert.SerializeObject(mMenu);
}

<h2>Ürünler</h2>
<div class="row">
    <div class="col-6 col-md-8">
        <div class="myerror">

        </div>
        <div id="tables">
            @foreach (var menuItem in mMenu)
            {
                <div class="card">
                    <div class="card-header">
                        <p class="card-category">Kategori</p>
                        <h4 class="card-title d-inline">@menuItem.category.name</h4>
                        @if (!menuItem.category.status)
                        {
                            <div class="badge badge-danger">Pasif</div>
                        }
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <p class="card-category">Ürün</p>
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th class="text-left" width="25%">Adı</th>
                                        <th class="text-left" width="50%">Açıklaması</th>
                                        <th class="text-left" width="10%">Fiyatı</th>
                                        <th class="text-center" width="10%">Durumu</th>
                                        <th class="text-right" width="5%">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in menuItem.products)
                                    {
                                        <tr>
                                            <td class="text-left">@product.name</td>
                                            <td class="text-left">@product.description</td>
                                            <td class="text-left">@product.price.ToString("F") TL</td>
                                            <td class="text-center">
                                                <div class="badge-pill badgeStatus @(product.status ? "badge-success" : "badge-danger")" data-productid="@product.ID" data-status="@product.status">
                                                    @(product.status ? "Aktif" : "Pasif")
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <i class="tim-icons icon-pencil edit" data-productid="@product.ID"></i>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <div class="col-6 col-md-4 position-sticky">
        <div class="sticky-top" style="top:70px">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Kategori</label>
                        <select class="form-control" id="selectCategories">
                            <option value="0">Ürün kategorisi seçiniz</option>
                            @foreach (var category in categories)
                            {
                                <option value="@category.ID">@category.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Ad</label>
                        <input type="text" class="form-control" placeholder="Ürün adı" id="inputName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Açıklama</label>
                        <textarea rows="4" class="form-control" placeholder="Ürün açıklaması" id="inputDescription"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Fiyat</label>
                        <input type="number" class="form-control" name="price" placeholder="Ürün fiyatı" id="inputPrice">
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <button type="button" class="btn btn-danger" id="btnCancel">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
                <button type="button" class="btn btn-primary add" id="btnConfirm" data-productid="0" data-status="true">
                    <i class="tim-icons icon-simple-add"></i>
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.edit').on('click', function () {
                // ürünü sağ menüye doldur
                // butonu artıdan tik e çevir
                var pid = $(this).data('productid');
                var product = findProduct(pid);

                $('#selectCategories option[value=' + product['categoryID'] + ']').prop('selected', 'selected');
                $('#inputName').val(product['name']);
                $('#inputDescription').val(product['description']);
                $('#inputPrice').val(product['price'].toFixed(2));
                $('#btnConfirm').data('productid', pid);
                $('#btnConfirm').data('status', product['status']);

                btnAddToEdit();
            });

            $('.badgeStatus').on('dblclick', function () {
                var badge = $(this);
                var pid = badge.data('productid');
                var status = badge.data('status') == "False" ? true : false;

                changeStatus(pid, status);

                // pid ile ürünün durumunu tersine çevir, eğer kategorisinin statusu false ise true yap
            });

            $('#btnCancel').on('click', function () {
                // sağ menüdeki alanları sıfırla
                // eğer butonda tik varsa artıya çevir

                btnEditToAdd();

                $('#selectCategories option[value=0]').prop('selected', 'selected');
                $('#inputName').val("");
                $('#inputDescription').val("");
                $('#inputPrice').val("");
                $('#btnConfirm').data('productid', 0);
                $('#btnConfirm').data('status', true);

            });

            $('#btnConfirm').on('click', function () {
                // eğer var olan ürün düzenlendiyse update yap
                // eğer yeni ürün eklendiyse ekleme yap
                var btn = $(this);
                var pid = btn.data('productid');
                var cid = $('#selectCategories').val();
                var name = $('#inputName').val();
                var description = $('#inputDescription').val();
                var price = $('#inputPrice').val();
                var status = btn.data('status');

                addupdate(pid, cid, name, description, price, status);
            });


        });

        function addupdate(pid, cid, name, desc, price, status) {

            var data = 'ID:' + pid + ',categoryID:' + cid + ',name:"' + name + '",description:"' + desc + '",price:"' + price + '",status:"' + status + '"';
            var url = '@Url.Action("AddUpdateProduct", "Admin")';

            myajax(url, data, function (e) {
                if (e.confirm) {
                    window.location.reload();
                }
                else {
                    setError(e.errorMessage)
                }
            }, function (e) {
                setError(e);
            });
        }

        function changeStatus(pid, status) {

            var data = 'ID:' + pid + ',status:"' + status + '"';
            var url = '@Url.Action("ChangeProductStatus", "Admin")';

            myajax(url, data, function (e) {
                if (e.confirm) {
                    window.location.reload();
                }
                else {
                    setError(e.errorMessage)
                }
            }, function (e) {
                setError(e);
            });
        }


        function btnAddToEdit() {
            $('#btnConfirm').removeClass('add').addClass('edit');
            $('#btnConfirm i.tim-icons').removeClass('icon-simple-add').addClass('icon-check-2');
        }

        function btnEditToAdd() {
            $('#btnConfirm').removeClass('edit').addClass('add');
            $('#btnConfirm i.tim-icons').removeClass('icon-check-2').addClass('icon-simple-add');
        }

        function setError(errorMessage) {
            var error = '<div class="alert alert-danger">'+
               '<button type="button" aria-hidden="true" class="close" data-dismiss="alert" >'+
                   '<i class="tim-icons icon-simple-remove"></i>'+
               '</button >'+
               '<span><b> Hata - </b>' + errorMessage + '</span>'+
                '</div >'
            $('.myerror').html(error);
        }

        function findProduct(pid) {
            var jsonMenu = @Html.Raw(jsonMenu);
            //console.log(jsonMenu);

            //console.log(jsonMenu[0]['products'][0]['name']);

            for (var i = 0; i < jsonMenu.length; i++) {
                for (var j = 0; j < jsonMenu[i]['products'].length; j++) {
                    if (jsonMenu[i]['products'][j]['ID'] == pid)
                        return jsonMenu[i]['products'][j];
                }
            }
        }
    </script>
}

@section styles{
    <style type="text/css">
        select option {
            background: #1f1e2f;
            color: #fff;
        }
    </style>
}